*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Cabin", sans-serif;
}

header{
    background-color: #255ee9;
    padding: 1.5rem 8rem;

}

.header,
nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

header button{
    color: black;

}

header button:hover{
    color: rgb(88 101 242);
    box-shadow: 5px 5px 10px rgb(57, 72, 238); 
}

li{
    list-style-type: none;
    list-style: none;
    margin-right: 2rem;
    color: white;
    font-size: 1.2rem;
}

a,
a:visited{
    text-decoration: none;
    color: white;
}

button{
    margin-right: 1rem;
    padding: 0.7rem 1.2rem;
    border-radius: 30px;
    border: none;
    background-color: white;
}



/* jumbo */


section.jumbo{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    padding: 200px 20% 120px 20%;
    background-image: url(../img/jumbo.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.jumbo h1{
    color: white;
    font-size: 3rem;

}

.jumbo p{
    justify-content: center;
    align-items: center;
    padding: 30px 40px 10px 40px;
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
    color: white;
    width: 90%;

}


.button_size_jumbo button:last-child{
    background-color: #23272a;
    color: white;
}
.button_size_jumbo button{
    font-size: 20px;
    padding: 1rem 1.5rem;
}

.button_size_jumbo button:first-child:hover{
    color: rgb(88 101 242);
    box-shadow: 5px 5px 10px rgb(57, 72, 238);
}

.button_size_jumbo button:last-child:hover{
    background-color: #313335;
    box-shadow: 5px 5px 10px rgb(57, 72, 238);
}

/* prima sezione e terza */

div h2{
    font-size: 3.4rem;
}

section.section_main{
    display: flex;
    padding: 75px;

}

.section_main img{
    display: flex;
    width: calc(65% - 75px);
    padding-left: 80px;
}

.section_main div{
    width: 30%;
    align-content: center;
    display: flex;
    align-self: stretch flex-start;
    flex-direction: column;
    padding: 60px 0 0 50px;
}

div .text_p{
    padding: 20px 50px 0 0;
    font-size: 1.2rem;
    line-height: 1.8rem;
}


/* seconda sezione */


.section_main_due{
    display: flex;
    justify-content: center;
    
    padding: 50px 0 50px 0;
    background-color: #f6f6f6;
}

.flex_svg{
    display: flex;
}

.flex_svg_rotate{
    display: flex;
    transform: rotate(180deg);
}

.section_main_due div{
    display: flex;
    width: 28%;
    align-self: stretch flex-start;
    flex-direction: column;
    padding: 70px 0 0 50px;
}

.section_main_due img{
    width: calc(50% - 50px);
    display: flex;
    padding: 20px 0 20px 20px;

}

/* quarta sezione del main */

section.main_botton{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background-color: #f6f6f6;
}

.main_botton div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 60px 20px 60px;
    justify-content: center;
    width: 75%;
}

.main_botton img{
    width: 80%;
    
}

.section_quattro_p{
    justify-content: center;
    align-items: center;
    padding: 30px 40px 10px 40px;
    text-align: center;
    line-height: 2rem;
    font-size: 1.5rem;
}

.main_botton h3{
    font-size: 2rem;
    background-image: url(../img/stars.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 50px 50px 0 50px;
}
.main_botton button{
    margin-right: 1rem;
    padding: 0.7rem 2rem;
    border-radius: 30px;
    border: none;
    background-color: #7289da;
    margin: 50px 0 100px 0;
    font-size: 1.3rem;
    color: white;
}

.main_botton button:hover{
    background-color: #7289da;
    box-shadow: 0 8px 5px rgba(0,0,0,.2);
}

/* footer */

footer{
    background-color: #23272a;
}

footer li{
    padding-top: 14px;
    
}

.color_footer_gr{
    color: #7288d9;
}

h2.color_footer_gr{
    font-size: 2rem;
    padding-bottom: 10px;
}

.main_footer{
    display: flex;
    justify-content:space-evenly;
    padding: 5% 2% 2% 10%;
    align-items: flex-start;
}

.main_footer div{
    flex-grow: 1;
    color: white;
    padding-bottom: 5px;
}

.main_footer ul{
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

div.i_footer{
    display: flex;
}

.i_footer i,
p img{
    width: 30px;
    padding-right: 5px;
}


.i_footer{
    padding-top: 20px;
}

hr{
    background-color: #23272a;
    margin: 0 10%;
}

/* secondo footer */


.second_footer{
    display: flex;
    justify-content: space-between;
    padding: 20px 10% 50px 10%;
}

.second_footer button{
    margin-right: 1rem;
    padding: 0.7rem 1.2rem;
    border-radius: 30px;
    border: none;
    background-color: #7289da;
}

.second_footer button:hover{
    background-color: #7289da;
    box-shadow: 0 8px 15px rgba(0,0,0,.2)
}


/* ---------------------sicurezza pag2-------------------------- */

.flex_total{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color_bluegeneral{
    background-color: #625edb;
    padding-bottom: 50px;
    
}

.header_pag2{
    background-color: #625edb;
    padding: 1.5rem 8rem;
}

.jumbo_pag2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 0 50px 150px;
}

.jumbo_pag2 h1{
    color: white;
    font-size: 5rem;
    line-height: 4rem;
    padding-bottom: 25px;
    width: 43%;
}

.jumbo_pag2 p{
    color: white;
    font-size: 1.1rem;
    line-height: 1.2rem;
    width: 43%;
}

.jumbo_pag2 p:last-child{
    padding-top: 15px;
}

.jumbo_botton{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 70%;
    padding: 10px 10px;
}

.jumbo_botton button{
    font-size: 1.5rem;
    width: 200px;
    height: 100px;
    flex-grow: 1;
    box-shadow: 5px 5px #57f287;
    border-radius: 20px;
}

.jumbo_botton button:hover{
    background-color: #57f287;
    box-shadow: 5px 5px black;
}

/* main */
